[keyboard]
name = "Ferris Sweep"
product_name = "Ferris Sweep"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "Balbi"
chip = "nrf52840"

[layout]
rows = 4
cols = 10
layers = 4
matrix_map = """
(0, 0)   (0, 1)   (0, 2)   (0, 3)   (0, 4)    (0, 5)   (0, 6)   (0, 7)   (0, 8)   (0, 9)
(1, 0)   (1, 1)   (1, 2)   (1, 3)   (1, 4)    (1, 5)   (1, 6)   (1, 7)   (1, 8)   (1, 9)
(2, 0)   (2, 1)   (2, 2)   (2, 3)   (2, 4)    (2, 5)   (2, 6)   (2, 7)   (2, 8)   (2, 9)
                                    (3, 3)    (3, 4)    (3, 5)   (3, 6)
"""

[[layer]]
name = "base"
keys = """
Q      W      E      R      T      Y      U      I      O    P
@a     @s     @d     @f     G      H      @j     @k     @l   @semi
Z      X      C      V      B      N      M      Comma  Dot  Slash
                     @l1    ent    spc    @l2
"""

[[layer]]
name = "left"
keys = """
@exc   @at    @hash  @dol   @perc  @car   @amp   @str   @lpar @rpar
1      2      3      4      5      6      7      8      9     0
@wn1   @wn2   @wn3   @wn4   @wn5   @wn6   @wn7   @wn8   @wn9  @wn8
                     _      _      _      _
"""

[[layer]]
name = "right"
keys = """
rbrc   @rcur  @rpar  @rang  pscr   ins   Home    pgup   pgdn End
lbrc   @lcur  @lpar  @lang  _      del   Left    Up     Down Right
grv    -      =      '      \\     @pipe @dqut   @plus  @und @tild 
                     _      _      r_ctrl _
"""

[[layer]]
name = "tri"
keys = """
Lock   No     No     Reboot     User0  User3  F1     F2     F3   F4
l_alt  l_ctrl No     Bootloader User1  User4  F5     F6     F7   F8
No     No     No     User9      User2  User5  F9     F10    F11  F12
                     _          _      _      _
"""

[aliases]
l1 = "LT(1, Tab)"
l2 = "LT(2, bspc)"

a = "MT(A, LShift)"
s = "MT(S, LAlt)"
d = "MT(D, LGui)"
f = "MT(F, LCtrl)"
j = "MT(J, RCtrl)"
k = "MT(K, RGui)"
l = "MT(L, RAlt)"

lang = "SHIFTED(Comma)"
rang = "SHIFTED(Dot)"

lcur = "SHIFTED([)"
rcur = "SHIFTED(])"

lpar = "SHIFTED(9)"
rpar = "SHIFTED(0)"

amp = "SHIFTED(7)"
at = "SHIFTED(2)"
car = "SHIFTED(6)"
dol = "SHIFTED(4)"
dqut = "SHIFTED(')"
exc = "SHIFTED(1)"
hash = "SHIFTED(3)"
perc = "SHIFTED(5)"
pipe = "SHIFTED(\\)"
plus = "SHIFTED(-)"
ps = "PrintScreen"
semi = "MT(;, RShift)"
str = "SHIFTED(8)"
tild = "SHIFTED(`)"
und = "SHIFTED(-)"
wn0 = "WM(0, LGui)"
wn1 = "WM(1, LGui)"
wn2 = "WM(2, LGui)"
wn3 = "WM(3, LGui)"
wn4 = "WM(4, LGui)"
wn5 = "WM(5, LGui)"
wn6 = "WM(6, LGui)"
wn7 = "WM(7, LGui)"
wn8 = "WM(8, LGui)"
wn9 = "WM(9, LGui)"

[rmk]
# The number of available BLE profiles
ble_profiles_num = 6

[storage]

[ble]
enabled = true
# nRF52840's saadc pin for reading battery level, you can use a pin
# number or "vddh"
battery_adc_pin = "vddh"
# The voltage divider setting for saadc. This setting should be
# ignored when using "vddh" as the adc pin.
#
# For example, nice!nano has 806 + 2M resistors. The saadc measures
# voltage on the 2M resistor, so the two values should be set to 2000
# and 2806
adc_divider_measured = 2000
adc_divider_total = 2806
# Set the BLE tx power; higher means better signal but more power
# consumption. For nRF52840 the maximum tx power is 8.
# default_tx_power = 8

[behavior.tri_layer]
upper = 1
lower = 2
adjust = 3

[behavior.tap_hold]
chordal_hold = true
hold_on_other_press = true
hold_timeout = "250ms"
permissive_hold = true
prior_idle_time = "120ms"

[behavior.combo]
timeout = "150ms"
combos = [
  # Press Tab and Enter keys simultaneously to output Escape key
  { actions = ["Tab", "Enter"], output = "Escape" },

  # Press Enter and Space keys simultaneously to output CapsWordToggle key
  { actions = ["Enter", "Space"], output = "CapsWordToggle" },
]

# REVISIT: Unclear how to use these. Example doesn't compile.
# [behavior.morse.profiles]
# Home row mods
# H = { unilateral_tap = true, permissive_hold = true, hold_timeout = "250ms", gap_timeout = "250ms" }

# Thumb cluster
# T = { hold_on_other_press = true, unilateral_tap = false, hold_timeout = "200ms", gap_timeout = "200ms" }

[split]
connection = "ble"

[split.central]
rows = 4
cols = 5
row_offset = 0
col_offset = 0

[split.central.matrix]
matrix_type = "direct_pin"
direct_pins = [
    ["P0_11", "P1_15", "P0_02", "P0_29", "P0_31"],
    ["P1_13", "P1_11", "P0_10", "P0_09", "P0_06"],
    ["P0_17", "P0_20", "P0_22", "P0_24", "P1_00"],
    ["_",     "_",     "_",     "P1_04", "P1_06"],
]

[[split.peripheral]]
rows = 4
cols = 5
row_offset = 0
col_offset = 5

[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins = [
    ["P0_31", "P0_29", "P0_02", "P1_15", "P0_11"],
    ["P0_06", "P0_09", "P0_10", "P1_11", "P1_13"],
    ["P1_00", "P0_24", "P0_22", "P0_20", "P0_17"],
    ["P1_06", "P1_04", "_",     "_",     "_"    ],
]
