[keyboard]
name = "ferris_sweep"
product_name = "ferris_sweep"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
chip = "nrf52840"

[host]
# Unlock combination: simultaneous press of specified keys
# Format: [[row, col], [row, col], ...]
unlock_keys = [[0, 0], [0, 1]]  # Keys at (row=0,col=0) and (row=0,col=1)

[layout]
rows = 4
cols = 10
layers = 4
keymap = [
    # Base
    [
        ["Q",             "W",             "E",             "R",             "T",             "Y",             "U",             "I",             "O",             "P"                    ],
        ["MT(A, LShift)", "MT(S, LAlt)",   "MT(D, LGui)",   "MT(F, LCtrl)",  "G",             "H",             "MT(J, RCtrl)",  "MT(K, RGui)",   "MT(L, RAlt)",   "MT(Semicolon, RShift)"],
        ["Z",             "X",             "C",             "V",             "B",             "N",             "M",             "Comma",         "Dot",           "Slash"                ],
        ["_",             "_",             "_",             "LT(1, Tab)",    "Enter",         "Space",         "LT(2, Backspace)", "_",          "_",             "_"                    ]
    ],

    # Left
    [
        ["WM(1, LShift)", "WM(2, LShift)", "WM(3, LShift)", "WM(4, LShift)", "WM(5, LShift)", "WM(6, LShift)", "WM(7, LShift)", "WM(8, LShift)", "WM(9, LShift)", "WM(0, LShift)"        ],
        ["1",             "2",             "3",             "4",             "5",             "6",             "7",             "8",             "9",             "0"                    ],
        ["WM(1, LGui)",   "WM(2, LGui)",   "WM(3, LGui)",   "WM(4, LGui)",   "WM(5, LGui)",   "WM(6, LGui)",   "WM(7, LGui)",   "WM(8, LGui)",   "WM(9, LGui)",   "WM(0, LGui)"          ],
        ["_",             "_",             "_",             "-",             "-",             "-",             "-",             "_",             "_",             "_"                    ]
    ],

    # Right
    [
        ["RightBracket", "WM(RightBracket, LShift)", "WM(0, LShift)", "WM(Dot, LShift)",   "PrintScreen", "Insert",                "Home",              "PageUp",            "PageDown",          "End"],
        ["LeftBracket",  "WM(LeftBracket, LShift)",  "WM(9, LShift)", "WM(Comma, LShift)", "-",           "Delete",                "Left",              "Up",                "Down",              "Right"],
        ["Grave",        "Minus",                    "Equal",         "Quote",             "Backslash",   "WM(Backslash, LShift)", "WM(Quote, LShift)", "WM(Equal, LShift)", "WM(Minus, LShift)", "WM(Grave, LShift)"],
        ["_",            "_",                        "_",             "-",                 "-",           "RCtrl",                 "-",                 "_",                 "_",                 "_"]
    ],

    # Tri
    [
        ["Lock",          "No",             "No",            "Reboot",       "User0",         "User3",         "F1",            "F2",             "F3",           "F4"],
        ["LAlt",          "LCtrl",          "No",            "Bootloader",   "User1",         "User4",         "F5",            "F6",             "F7",           "F8"],
        ["No",            "No",             "No",            "User9",        "User2",         "User5",         "F9",            "F10",            "F11",          "F12"],
        ["_",             "_",             "_",             "-",             "-",             "-",             "-",             "_",              "_",            "_"]
    ]
]

[rmk]
# The number of available BLE profiles
ble_profiles_num = 6
debounce_time = 50

[ble]
enabled = true
# nRF52840's saadc pin for reading battery level, you can use a pin
# number or "vddh"
battery_adc_pin = "vddh"
# The voltage divider setting for saadc. This setting should be
# ignored when using "vddh" as the adc pin.
#
# For example, nice!nano has 806 + 2M resistors. The saadc measures
# voltage on the 2M resistor, so the two values should be set to 2000
# and 2806
adc_divider_measured = 2000
adc_divider_total = 2806
# Set the BLE tx power; higher means better signal but more power
# consumption. For nRF52840 the maximum tx power is 8.
# default_tx_power = 8

[storage]
enabled = true

[behavior]
tap_hold = { permissive_hold = true, chordal_hold = true, hold_on_other_press = true, prior_idle_time = "120ms", hold_timeout = "250ms" }
tri_layer = { upper = 1, lower = 2, adjust = 3 }

[behavior.combo]
timeout = "50ms"
combos = [
  # Press Tab and Enter keys simultaneously to output Escape key
  { actions = ["Tab", "Enter"], output = "Escape" },

  # Press Enter and Space keys simultaneously to output CapsWordToggle key
  { actions = ["Enter", "Space"], output = "CapsWordToggle" },
]

[split]
connection = "ble"

[split.central]
rows = 4
cols = 5
row_offset = 0
col_offset = 0

[split.central.matrix]
matrix_type = "direct_pin"
direct_pins = [
    ["P0_11", "P1_15", "P0_02", "P0_29", "P0_31"],
    ["P1_13", "P1_11", "P0_10", "P0_09", "P0_06"],
    ["P0_17", "P0_20", "P0_22", "P0_24", "P1_00"],
    ["_",     "_",     "_",     "P1_04", "P1_06"]
]

[[split.peripheral]]
rows = 4
cols = 5
row_offset = 0
col_offset = 5

[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins = [
    ["P0_31", "P0_29", "P0_02", "P1_15", "P0_11"],
    ["P0_06", "P0_09", "P0_10", "P1_11", "P1_13"],
    ["P1_00", "P0_24", "P0_22", "P0_20", "P0_17"],
    ["P1_06", "P1_04", "_",     "_",     "_"]
]
